# ==============================================================================
# AMBIENTE E CACHE
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/
.ipynb_checkpoints/
.vscode/
.idea/

# ==============================================================================
# DATI MEDICI (SENSITIVE - NON CARICARE MAI)
# ==============================================================================
data/
datasets/
raw_data/
*.csv
*.dcm
*.nii.gz
*.xlsx
*.parquet
*.zip
*.tar.gz



# ==============================================================================
# WEB APP & LOGS
# ==============================================================================
.streamlit/secrets.toml
static/uploads/
*.log
.env
kaggle.json

# Documentazione pesante
*.pdf
*.docx

!models_saved/

!models_saved/**